<h1 mat-dialog-title>Subir Archivo</h1>
<form action="">
    <div mat-dialog-content>
        <mat-form-field appearance="fill">
            <mat-label>Nombre: </mat-label>
            <input name="nombre" [(ngModel)]="archivoModel.nombre" matInput>
        </mat-form-field>
        <div appearance="fill">
            <input type="file" (change)="onFileSelect($event)" style="display: none;" id="btn-verdadero">
            <button mat-button id="btn-falso">Adjuntar</button>
            <p style="margin-left: 0.7em;" id="custom-text"> Seleccione un archivo.</p>
        </div>
    </div>
    <div mat-dialog-actions>
        <button (click)="addArchivo()" mat-raised-button color="warn">Subir</button>
        <button (click)="salirDialog()" mat-button>Cancelar</button>
    </div>
</form>
